.forCodePen {
    display: flex;
    justify-content: center;
    background-color: #2b282e;
    position: relative;
    height: 50px;
    width: 100%;
/*
    -webkit-box-shadow: -35px -35px 98px 59px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -35px -35px 98px 59px rgba(0, 0, 0, 0.75);
    box-shadow: -35px -35px 98px 59px rgba(0, 0, 0, 0.75);
*/
-webkit-box-shadow: 1px -41px 263px 33px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -41px 263px 33px rgba(0,0,0,0.75);
box-shadow: 1px -41px 263px 33px rgba(0,0,0,0.75);
}

.forCodePen > .forCodePen-buttons {
    width: 100%;
    border: 1px solid white;
    background-color: #454647;
}

.forCodePen > .forCodePen-buttons > .forCodePen-button {
    border: none;
    height: 30px;
    width: 310px;
    background-color: #454647;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    align-content: center;
}
