.main {
    height: 400px;
    width: 100%;
    /*    background-color: #454647;*/
    background: rgb(29, 27, 23);
    background: linear-gradient(270deg, rgba(29, 27, 23, 1) 15%, rgba(43, 40, 46, 1) 44%, rgba(69, 70, 71, 1) 100%);
}

.main {
    display: flex;
    justify-content: center;
}

.main > .main-columns {
    display: flex;
    justify-content: center;
}

.main > .main-columns > .main-left-column {
    align-content: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 20px;
    font-size: 25px;
    color: gray;
}

.main > .main-columns > .main-left-column b {
    font-size: 26px;
    color: white;
}

.main > .main-columns > .main-left-column p {
    font-size: 19px;
    
}


.main > .main-columns > .main-left-column > .main-left-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main > .main-columns > .main-left-column > .main-left-buttons > .main-left-column-button {
    padding-top: 20px;
    padding-right: 20px;
}

.main > .main-columns > .main-left-column > .main-left-buttons > .main-left-column-button > .sign-up-free-button {
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
}

.main > .main-columns > .main-left-column > .main-left-buttons > .main-left-column-button > .learn-more-button {
    height: 55px;
    width: 200px;
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
}
.main > .main-columns > .main-left-column > .main-left-buttons > .main-left-column-button > .learn-more-button {
    height: 55px;
    width: 200px;
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
}
.main-right-column > .right-column-title {
    color: white;
}

.main-right-column > .right-column-title > .code-pen-projects-links a {
    color: #259FD1;
    text-decoration: none;
}

.main > .main-right-column p {
    padding-top: 30px;
    padding-right: 10px;
}

.main > .main-right-column img {
    position: fixed;
    overflow: hidden;
    padding-top: 1px;
    width: 100%;
}
